

<div id="myDIV" style="text-align:center">
  <h3>PIE CHART</h3>
</div>
<br>




<!--<div class="row">
  <div class="col-lg-12" id="piechart">
 <p-chart type="pie" [data]="data"></p-chart>
    </div>
</div>

<div style="display: block">
  <canvas mdbChart 
      [chartType]="chartType"
      [data]="chartData" 
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
  </canvas>
</div>-->

<div style="display: block">
  <canvas baseChart
          [chartType]="pieChartType"
          [data]="pieChartData"
          [labels]="pieChartLabels"

          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>



