<!--<p>
  Currency-table works!
</p>-->
<br>
<div id="myDIV" style="text-align:center">
  <h3>TRANSACTION TABLE</h3>
</div>
<br>




<table class="table">
  <tr>
      <th>ID</th>
      <th>DATE</th>
      <th>PAYEENAME</th> 
      <th>PAYERNAME</th> 
      <th>AMOUNT</th>
      <th>VALIDATION STATUS</th>
      <th>SCREEN STATUS</th>
  </tr>
  <tr>
    <td>2</td>
    <td>1235845</td>
    <td>john</td>
    <td>mmaa</td>
    <td>9922</td>
    <td>Pass</td>
    <td>Pass</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1235845</td>
    <td>john</td>
    <td>mmaa</td>
    <td>9922</td>
    <td>Pass</td>
    <td>Pass</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1235845</td>
    <td>john</td>
    <td>mmaa</td>
    <td>9922</td>
    <td>Pass</td>
    <td>Pass</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1235845</td>
    <td>john</td>
    <td>mmaa</td>
    <td>9922</td>
    <td>Pass</td>
    <td>Pass</td>
  </tr>
  <!--<tr *ngFor="let person of persons">
      <td>{{person.id}}</td>
      <td>{{person.date}}</td>
      <td>{{person.payeeName}}</td>
      <td>{{person.payerName}}</td>
      <td>{{person.amount}}</td>
  </tr>-->
</table>




